
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UsuarioNaoAutenticado</title>
</head>
<body>
    <h2>@ViewData["Retorno"]</h2>
</body>
</html>
