@{
    ViewData["Title"] = "Acesso Cliente - Estamparia Salete";
}

<head>
    <title>Login Acesso Cliente</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/Base/cores.css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Ferramentas/ModalDinamico/ModalDinamico.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/font-awesome/css/font-awesome.min.css">

</head>
<body class="img js-fullheight" style="background-image: url(images/bg.jpg);">
    <section class="ftco-section">
        <div class="contorno">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="heading-section">Acesso Cliente</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-12 col-lg-12">
                    <div class="wrap d-md-flex">
                        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner" style="left: 20px">
                                <div class="carousel-item active">
                                    <div class="texto-banner-largura">
                                        <div class="titulo-texto-banner banner-convencional">
                                            <span class="titulo-texto-banner-primario">A Empresa</span>
                                            <span class="titulo-margem">Salete</span>
                                            <p>A Estamparia Salete é sinônimo de qualidade desde 1959 e atende os principais nomes do mercado nacional e internacional. Uma empresa pertencente ao Grupo Rosset, considerado o maior conglomerado têxtil da América Latina.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="texto-banner-largura">
                                        <div class="titulo-texto-banner banner-convencional">
                                            <span class="titulo-texto-banner-primario">Estamparia </span>
                                            <span class="titulo-margem">Convencional</span>
                                            <p>A Estamparia Salete está equipada com máquinas de estampar a quadro e rotativas (cilindros até 10 cores) de alta fidelidade para a reprodução, encaixe e impressão.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="texto-banner-largura">
                                        <div class="titulo-texto-banner banner-convencional">
                                            <span class="titulo-texto-banner-primario">Estamparia </span>
                                            <span class="titulo-margem">Digital</span>
                                            <p>A estampa digital, também conhecida como Inkjet, é capaz de transferir imagens do computador diretamente para o tecido de trabalho, permitindo mais liberdade criativa durante a concepção da estampa.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="login-wrap p-4 p-md-5" style="width: 3000px;max-width: 10000px;">
                            <div class="d-flex">
                                <div class="w-100">
                                    <h3 class="mb-4">Login</h3>
                                </div>
                            </div>
                            <form class="signin-form">
                                <div class="form-group mb-3">
                                    <label class="label" for="name">Usuário ou Email</label>
                                    <input type="text" id="loginUsuario" class="form-control" placeholder="salete">
                                    <div id="invalidaLoginUsuario" class="invalido invisivel">
                                        Por favor, preencha o usuario para logar.
                                    </div>
                                </div>
                                <div class="form-group mb-3">
                                    <label class="label" for="password">Senha</label>
                                    <input type="password" id="senhaUsuario" class="form-control" placeholder="123456">
                                    <div id="invalidaLoginSenha" class="invalido invisivel">
                                        Por favor, preencha uma senha para logar.
                                    </div>
                                </div>
                                <span class="aviso_usuario"> @ViewData["Retorno"]</span>
                                <div class="form-group">
                                    <button type="button" onclick="Logar();" class="form-control btn btn-primary rounded submit px-3">Entrar</button>
                                </div>
                                <div id="recaptchaLogin" class="form-group">

                                </div>
                                <div id="invalidaLoginCaptcha" class="invalido invisivel">
                                    Obrigatório validação de Captcha para logar.
                                </div>
                                <div class="form-group d-md-flex" style="justify-content:center;">
                                        <a href="#">Esqueci a Senha</a>
                                </div>
                            </form>
                            <p class="text-center">Não tem uma conta? <a href="" data-toggle="tab" onclick="$('#modal_cadastroUsuario').modal('show');">Registre-se agora!</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            
    </section>

    <div class="modal fade" id="modal_cadastroUsuario" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-navy-blue modal_header_title ">
                    <h4 class="modal-title" id="myModalLabel">Cadastro de Usuário</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="txt_modalUsuarioNomeCompleto">Nome</label>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fa fa-male color_padrao"></i></div>
                                </div>
                                <input type="text" class="form-control" id="txt_modalUsuarioNomeCompleto" placeholder="Fulano Santos">
                                <div id="invalidaNome" class="invalido invisivel">
                                    Por favor, informe o seu Nome.
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txt_modalUsuarioEmpresa">Empresa</label>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fa fa-building color_padrao"></i></div>
                                </div>
                                <input type="text" class="form-control" id="txt_modalUsuarioEmpresa" placeholder="Estamparia Salete">
                                <div id="invalidaEmpresa" class="invalido invisivel">
                                    Por favor, informe qual a Empresa.
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txt_modalUsuario">Usuario</label>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fa fa-user color_padrao"></i></div>
                                </div>
                                <input type="text" class="form-control" id="txt_modalUsuario">
                                <div id="invalidaUsuario" class="invalido invisivel">
                                    Por favor, informe o usuario.
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txt_modalUsuarioEmail">Email</label>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fa fa-envelope color_padrao"></i></div>
                                </div>
                                <input type="email" class="form-control" id="txt_modalUsuarioEmail" placeholder="exemplo@gmail.com">
                                <div id="invalidaEmail" class="invalido invisivel">
                                    Por favor, informe uma Email válido.
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txt_modalConfirmaUsuarioEmail">Confirma Email</label>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fa fa-envelope color_padrao"></i></div>
                                </div>
                                <input type="email" class="form-control" id="txt_modalConfirmaUsuarioEmail">
                                <div id="invalidaEmail" class="invalido invisivel">
                                    Por favor, informe uma Email válido.
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txt_modalSenha">Senha</label>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fa fa-lock color_padrao"></i></div>
                                </div>
                                <input type="password" class="form-control" id="txt_modalSenha">
                                <div id="invalidaSenha" class="invalido invisivel">
                                    Por favor, preencha uma senha.
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txt_modalConfirmaSenha">Confirma Senha</label>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fa fa-lock color_padrao"></i></div>
                                </div>
                                <input type="password" class="form-control" id="txt_modalConfirmaSenha">
                                <div id="invalidaSenhaConfirma" class="invalido invisivel">
                                    Senha diferente, informe a mesma senha.
                                </div>
                            </div>
                        </div>
                        <div id="recaptchaCadastro" class="form-group">

                        </div>
                        <div id="invalidaCadastroCaptcha" class="invalido invisivel">
                            Obrigatorio realizar a validação Captcha.
                        </div>
                        <div class="form-group">
                            <button type="button" class="form-control btn btn-primary" onclick="RegistrarUsuario();">Registre-se</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
            async defer>
    </script>
</body>

<script src="~/js/jquery.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/main.js"></script>
<script src="~/js/Login/login.js"></script>

<script type="text/javascript">
    var recaptchaLogin = "";
    var recaptchaCadastro = "";

    var onloadCallback = function () {
        recaptchaLogin = grecaptcha.render('recaptchaLogin', {
            'sitekey': '',
            'theme': 'light'
        });
        recaptchaCadastro = grecaptcha.render('recaptchaCadastro', {
            'sitekey': '',
            'theme': 'light'
        });
    };

    $('.carousel').carousel({
        interval: 3000
    })

    var contadorImagem = 0;
    var imagemAtual = 0;
    var imagem = [];

    imagem[0] = 'images/bg.jpg';
    imagem[1] = 'images/bg-2.jpg';

    carregarImagens = [];

    for (var i = 0; i < imagem.length; i++) {
        if (imagem[i] == "")
            break;

        carregarImagens[i] = new Image();
        carregarImagens[i].src = imagem[i];
        contadorImagem++;
    }

    function startSlideShow() {
        if (document.body && contadorImagem > 0) {
            document.body.style.backgroundImage = "url(" + imagem[imagemAtual] + ")";
            document.body.style.backgroundAttachment = "fixed";
            document.body.style.backgroundRepeat = "repeat";
            document.body.style.backgroundPosition = "left top";

            imagemAtual = imagemAtual + 1;
            if (imagemAtual > (contadorImagem - 1)) {
                imagemAtual = 0;
            }
            setTimeout('startSlideShow()', 5000);
        }
    }
    startSlideShow();
</script>

